:root {
  --dark-blue: #172449;
  --dark-blue-o-5: mix(#172449, #fff, 5%);
  --dark-blue-o-10: mix(#172449, #fff, 10%);
  --dark-blue-o-20: mix(#172449, #fff, 20%);
}

*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

*::-webkit-scrollbar-thumb {
  background: var(--dark-blue-o-5);
  border: 1px solid var(--dark-blue-o-20);
  border-radius: 5px;
  transition: 0.5s;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--dark-blue-o-10);
}

*::-webkit-scrollbar-thumb:active {
  background: var(--dark-blue-o-10);
}

*::-webkit-scrollbar-track {
  background: #ffffff;
  border-left: 1px solid var(--dark-blue-o-20);
  border-radius: 0;
}
*::-webkit-scrollbar-track:hover {
  background: #ffffff;
}

*::-webkit-scrollbar-track:active {
  background: #ffffff;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}
